<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>161660580984-dcdb5n6j5gdq3grp4kl63hsce8sup5ar.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.161660580984-dcdb5n6j5gdq3grp4kl63hsce8sup5ar</string>
	<key>API_KEY</key>
	<string>AIzaSyC0qmlyXYjgWl4KHQyLFYPBi0x3umBqYAw</string>
	<key>GCM_SENDER_ID</key>
	<string>161660580984</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>forkfit.app.forkfit</string>
	<key>PROJECT_ID</key>
	<string>forkfit-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>forkfit-dev.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:161660580984:ios:9cac482dad0fc17178a98d</string>
</dict>
</plist>